{% block grid %}
    <table id="{{ grid.name }}-grid" class="table table-striped table-hover table-condensed">
        {{ grid_header(grid) }}
        {{ grid_body(grid) }}
        {{ grid_footer(grid) }}
    </table>
    {{ grid_pager(grid) }}
{% endblock %}

{% block grid_header %}
    <thead>
        <tr>
            {% for field in grid.fields.visible %}
                {{ grid_label(field, grid) }}
            {% endfor %}
            {{ grid_action_label(grid) }}
        </tr>
    </thead>
{% endblock %}

{% block grid_body %}
    <tbody>
        {% for object in grid.results %}
            <tr>
                {% for field in grid.fields.visible %}
                    {{ grid_value(object, field, grid) }}
                {% endfor %}
                {{ grid_action(object, grid) }}
            </tr>
        {% else %}
            {{ grid_no_results(grid) }}
        {% endfor %}
    </tbody>
{% endblock %}

{% block grid_label %}
    {% spaceless %}
        <th{% if field.align %} class="text-{{ field.align }}"{% endif %}>
            {% set value = field.label ? field.label|trans : field.name|humanize|trans %}
            {% if field.sortable %}
                <a id="grid-{{ grid.name }}-sort-{{ field.name }}" href="{{ grid.filter.generateSortUri(field, field.oppositeSortDirection) }}" class="sortable">
                    <span>
                        {{ value }}
                        {% if not field.sortDirection %}
                            <b class="sort-asc sort"></b>
                            <b class="sort-desc sort"></b>
                        {% endif %}
                        <b class="sort-{{ field.sortDirection|default(field.oppositeSortDirection~'-hover')|lower }}"></b>
                    </span>
                </a>
            {% else %}
                {{ value }}
            {% endif %}
        </th>
    {% endspaceless %}
{% endblock %}

{% block grid_footer %}
    {% if grid.results|length %}
        <tfoot>
        <tr>
            {% spaceless %}
                {% if paginated %}
                    <td>{{ grid.results|length }} Results ({{ grid.totalResults }} Total)</td>
                    <td colspan="99" class="text-right">Page {{ grid.currentPage }} of {{ grid.totalPages }}</td>
                {% else %}
                    <td colspan="99">{{ grid.results|length }} Results</td>
                {% endif %}
            {% endspaceless %}
        </tr>
        </tfoot>
    {% endif %}
{% endblock %}

{% block grid_action_label %}{% endblock %}
{% block grid_action %}{% endblock %}

{% block grid_no_results %}
    <tr>
        <td colspan="99">No Results</td>
    </tr>
{% endblock %}

{% block grid_pager %}{% endblock %}

{% block grid_value %}
    {% spaceless %}
        <td{% if field.align %} class="text-{{ field.align }}"{% endif %}>
            {% if type == 'date' %}
                {{ value|date(field.format) }}
            {% elseif value %}
                {{ value }}
            {% else %}
                {{ field.default|raw }}
            {% endif %}
        </td>
    {% endspaceless %}
{% endblock %}
